.container { background-color: white; }

.container .detail { display: flex; flex-direction: column; align-items: center; color: #333; }

.container .detail > div { width: 100%; max-width: 768px; padding: 0 1rem; }

.container .detail .head { margin-top: 44px; }

.container .detail .head .title { font-size: 3rem; line-height: 1.5; margin-bottom: 2rem; }

.container .detail .head .time { align-items: center; font-size: 1rem; color: #495057; display: flex; justify-content: space-between; }

.container .detail .head .tools { display: flex; justify-content: flex-end; margin-bottom: -1.25rem; color: #868e96; }

.container .detail .head .tools .edit, .container .detail .head .tools .delete { cursor: pointer; }

.container .detail .head .tools .delete { margin-left: 0.5rem; }

.container .detail .head .tags { display: flex; margin-top: 0.875rem; }

.container .detail .body { margin-top: 5rem; }

.container .detail .body .thumbnail { width: 100%; }

.container .detail .body .content { margin: 1rem auto; white-space: pre-wrap; }

.container .detail .foot { margin-top: 16rem; margin-bottom: 4rem; }

.container .detail .prev_next { margin-top: 3rem; display: flex; justify-content: space-between; }

.container .detail .prev_next > div { width: 360px; }

.container .detail .prev_next > div .prev, .container .detail .prev_next > div .next { width: 100%; height: 4rem; display: flex; align-items: center; padding: 0 1rem; background: #f8f9fa; cursor: pointer; }

.container .detail .prev_next > div .prev:hover .prevBtn, .container .detail .prev_next > div .next:hover .prevBtn { animation: moveLeft 0.5s; }

.container .detail .prev_next > div .prev:hover .nextBtn, .container .detail .prev_next > div .next:hover .nextBtn { animation: moveRight 0.5s; }

@keyframes moveLeft { 0% { transform: translateX(0); }
  50% { transform: translateX(-0.5rem); }
  100% { transform: translateX(0); } }

@keyframes moveRight { 0% { transform: translateX(0); }
  50% { transform: translateX(0.5rem); }
  100% { transform: translateX(0); } }

.container .detail .prev_next > div .prev .prevBtn, .container .detail .prev_next > div .prev .nextBtn, .container .detail .prev_next > div .next .prevBtn, .container .detail .prev_next > div .next .nextBtn { width: 2rem !important; height: 2rem !important; padding: 0.25rem; border-radius: 1rem; border: 1px solid #b39ddb; color: #b39ddb; }

.container .detail .prev_next > div .prev .prevBtn:first-child, .container .detail .prev_next > div .prev .nextBtn:first-child, .container .detail .prev_next > div .next .prevBtn:first-child, .container .detail .prev_next > div .next .nextBtn:first-child { margin-right: 1rem; }

.container .detail .prev_next > div .prev .prevBtn:last-child, .container .detail .prev_next > div .prev .nextBtn:last-child, .container .detail .prev_next > div .next .prevBtn:last-child, .container .detail .prev_next > div .next .nextBtn:last-child { margin-left: 1rem; }

.container .detail .prev_next > div .prev > div, .container .detail .prev_next > div .next > div { display: flex; flex-direction: column; }

.container .detail .prev_next > div .prev > div p, .container .detail .prev_next > div .next > div p { font-size: 0.75rem; line-height: 0.75rem; }

.container .detail .prev_next > div .prev > div h3, .container .detail .prev_next > div .next > div h3 { width: 280px; margin-top: 0.5rem; font-size: 1.125rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }

.container .detail .prev_next > div .next { justify-content: flex-end; }

.container .detail .prev_next > div .next > div { align-items: flex-end; }

.container .detail .prev_next > div .next > div h3 { text-align: end; }

.container .detail .comments { margin-top: 3rem; }

.container .detail .comments h4 { font-size: 1.125rem; line-height: 1.5; font-weight: 600; margin-bottom: 1rem; }

.container .detail .comments textarea { resize: none; padding: 1rem 1rem 1.5rem; outline: none; border: 1px solid #e9ecef; margin-bottom: 1.5rem; width: 100%; border-radius: 4px; min-height: 6.125rem; font-size: 1rem; color: #212529; line-height: 1.75; }

.container .detail .comments textarea::placeholder { color: #adb5bd; }

.container .detail .comments > div { display: flex; justify-content: flex-end; }

.container .detail .commentsList { margin-top: 2.5rem; }

.container .detail .commentsList li { margin: 1rem 0; list-style: none; }

.container .detail .commentsList li .commentHead { display: flex; justify-content: space-between; }

.container .detail .commentsList li .comments { margin-top: 1rem; }

.container .detail .commentsList li span { cursor: pointer; font-size: 0.875rem; color: #868e96; }

.container .detail .commentsList li span + span { margin-left: 0.5rem; }

.container .detail .commentsList li span.button:hover { text-decoration: underline; }
