.headerContainer{
  height: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  -webkit-box-align: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 1728px;
}
.navBar{
  display: block;
  position: fixed;
  top: 0px;
  background: white;
  width: 100%;
  z-index: 10;
  box-shadow: rgb(0 0 0 / 8%) 0px 0px 8px;
  padding: 0;
  transition: all 0.5s;
}

.logo {
  cursor: pointer;
  font-size: 1.3125rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(52, 58, 64);
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.tools {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.add {
  background-color: white;
  border: 1px solid rgb(52, 58, 64);
  border-radius: 1rem;
  height: 2rem;
  padding: 0 1rem 0 1rem;
  font-size: 1rem;
  word-break: keep-all;
  cursor: pointer;
  font-weight: bold;
  margin-right: 1rem;
  color: rgb(52, 58, 64);
}

.add:hover {
  background-color: rgb(52, 58, 64);
  color: white;
}

@media (max-width: 1919px) {
  .header {
    width: 1376px;
  }
}

@media (max-width: 1440px) {
  .header {
    width: 1024px;
  }
}

@media (max-width: 1056px) {
  .header {
    width: calc(100% - 2rem);
  }
}
