.post{
    width: 20em;
    height: 25em;
    background-color: white;
    border-radius: 4px;
    box-shadow: rgb(0 0 0 / 4%) 0px 4px 16px 0px;
    transition: box-shadow 0.25s ease-in 0s, transform 0.25s ease-in 0s;
    margin: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.post:hover{
    transform: translateY(-8px);
    box-shadow: rgb(0 0 0 / 8%) 0px 12px 20px 0px;
}

.thumbnail{
    width: 100%;
    height: auto;
}

.contents{
    padding:1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.title{
    font-weight: bold;
    font-size: 1rem;
    margin: 0 0 0.25rem;
    line-height: 1.5;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgb(33, 37, 41);
}
.body{
    color: #343A40;
    font-size: 0.875rem;
    line-height: 1.5;
    height: 100%;
}

.createdAt{
    font-size: 0.75em;
    color:rgb(134, 142, 150);
    line-height: 1.5;
}