.container{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.section{
    padding: 2rem 3rem 0 3rem;
    height: 100%;
}
.title{
    height: 66px;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    font-size: 2.75rem;
    color: rgb(33, 37, 41);
    line-height: 1.5;
    width: 100%;
    padding: 0;
    font-weight: bold;
    font-family: inherit;
}
.divider{
    width:4rem;
    background: rgb(73, 80, 87);
    height: 6px;
    margin: 1.5rem 0 1rem 0;
}

.tags{
    color:rgb(52, 58, 64);
    font-size:1.125rem;
    display: flex;
    flex-wrap: wrap;
}

.tag{
    display: inline-flex;
    border: none;
    outline: none;
    background: transparent;
    font-size: 1.125rem;
    line-height: 2rem;
    margin-bottom: 0.75rem;
    min-width: 8rem;
}
.body{
    font-size: 1.125rem;
    resize: none;
    border: none;
    outline: none;
    background: transparent;
    width: 100%;
    line-height: 1.5;
    color:rgb(52, 58, 64);
    font-family: inherit;
}

.body::-webkit-input-placeholder {
    font-style: italic;
}
.body:-ms-input-placeholder {
    font-style: italic;
}
  
.footer{
    bottom: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    height: 4rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 8px;
    background-color: rgba(255, 255, 255, 0.85);
}

.back{
    height: 2.5rem;
    padding: 0.5rem 1rem;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    font-size: 1.125rem;
}

.arrow{
    margin-right: 0.5rem;
}

.back:hover{
    background-color: rgba(0, 0, 0, 0.05);
}

.buttons{
    justify-content: flex-end;
    align-items: center;
    display: flex;
}

.temporary, .submit{
    display: flex;
    height: 2.5rem;
    font-size: 1.125rem;
    margin-left: 1rem;
    border: none;
    outline: none;
    cursor:pointer; 
    padding: 0 1.25rem;
    border-radius: 4px;
    font-weight: bold;
    align-items: center;
}

.submit{
    background-color: #B39DDB;
    color: white;
}

button:hover{
    opacity: 0.8;
}